<%= turbo_frame_tag dom_id(to_do) do %>
  <%= form_with(model: to_do) do |form| %>
    <li class="list-group-item">
      <%= form.check_box :done, class: "form-check-input me-3", onchange: "this.form.requestSubmit();" %>
      <span class="<%= to_do.done ? 'text-decoration-line-through' : '' %>"><%= to_do.title %></span>
    </li>
  <% end %>
<% end %>